.popup__input {
    margin: 0 auto;
    padding: 0 0 10px 1px;
    border: none;
    border-bottom: 1.5px solid rgba(84, 84, 84, .2);
    font-size: .875rem;
    line-height: 121%;
    outline: none;
    width: 100%;
}