.profile__person {
    margin: 0;
    padding: 0 0 0 30px;
    max-width: 336px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    align-self: center;
}

@media (max-width: 510px) {
    .profile__person {
        padding: 22px 0 0 28px;
        grid-template-rows: 2/3;
        justify-self: center;
    }
}