.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -40px;
    top: -40px;
    opacity: 1;
    transition: .9s linear;
}

.popup__close:hover {
    opacity: .6;
    transition: .4s linear;
}

@media (max-width: 540px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0px;
        top: -36px;
    }
}