.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 1;
    background-color: transparent;
    border: none;
}

.popup__close:hover {
    opacity: .6;
    transition: .4s linear;
}