.place__btn-like {
    margin: 0 20px 0 0;
    padding: 19px 22px 0 0;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    opacity: 1;
    transition: .9s linear;
    background-color: transparent;
    border: none;
}

.place__btn-like:hover {
    opacity: .6;
    transition: .4s linear;
}