.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 590px) {
    .profile__avatar {
        grid-row: 1/2;
        justify-self: center;
    }
}