.place__btn-trash {
    margin: 0;
    padding: 18px 19px 0 0;
    /* width: 18px;
    height: 19px; */
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
}

.place__btn-trash:hover {
    opacity: .6;
}