.place {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 282px 80px;
    position: relative;
}